# Игнорировать папку node_modules, models
frontend/node_modules/
backend/src/models/

# Игнорировать файлы окружения
.env
*.env

# Игнорировать папку с виртуальным окружением Python
backend/.venv/

# Игнорировать папку __pycache__ (сгенерированные файлы Python)
__pycache__/
*.py[cod]

# Игнорировать конфигурационные файлы IDE
.idea/
.vscode/

# Игнорировать папку .git в случае переноса проекта
.git/

# Логи
*.log

# Игнорировать скомпилированные файлы
*.pyc
*.pyo